<div class="register-container">
  <h2>Regístrate</h2>

  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="firstname">Nombre</label>
      <input id="firstname" formControlName="firstname" type="text" />
      <div *ngIf="registerForm.get('firstname')?.invalid && registerForm.get('firstname')?.touched">
        <small *ngIf="registerForm.get('firstname')?.hasError('required')">El nombre es requerido.</small>
      </div>
    </div>

    <div>
      <label for="lastname">Apellido</label>
      <input id="lastname" formControlName="lastname" type="text" />
      <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched">
        <small *ngIf="registerForm.get('lastname')?.hasError('required')">El nombre es requerido.</small>
      </div>
    </div>

  
    <div>
      <label for="email">Email</label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        <small *ngIf="registerForm.get('email')?.hasError('required')">El email es requerido.</small>
        <small *ngIf="registerForm.get('email')?.hasError('email')">Email no es válido.</small>
      </div>
    </div>

    <div>
      <label for="password">Contraseña</label>
      <input id="password" formControlName="password" type="password" />
      <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        <small *ngIf="registerForm.get('password')?.hasError('required')">La contraseña es requerida.</small>
        <small *ngIf="registerForm.get('password')?.hasError('minlength')">La contraseña debe tener al menos 6 caracteres.</small>
      </div>
    </div>

    <button type="submit" [disabled]="registerForm.invalid">Registrarse</button>

    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </form>

  <button (click)="navigateToLogin()">¿Ya tienes una cuenta? Inicia sesión</button>
</div>
