

  .ui-card-shadow {
    width: 80%;
    margin-top: 2rem;
  }

  .status {
    margin-bottom: 1rem;
    font-size: 1.2rem;
  }

  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    button {
      margin-right: 0.5rem;
    }
  }

  .message {
    margin-top: 1rem;
    font-size: 1.2rem;
    color: #333;
    background: #f9f9f9;
    padding: 1rem;
    border-radius: 4px;
    text-align: center;
    width: 100%;
  }




