.temperature-device {
  border: 1px solid #f44336;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffebee;
  text-align: center; /* Centramos el contenido */
}

.thermometer {
  position: relative;
  width: 50px; /* Ancho del termómetro */
  height: 200px; /* Altura total del termómetro */
  border: 2px solid #f44336; /* Borde del termómetro */
  border-radius: 10px; /* Bordes redondeados */
  background-color: #fff; /* Fondo blanco del termómetro */
  margin: 10px auto; /* Centramos horizontalmente */
}

.thermometer-bulb {
  width: 60px; /* Ancho de la parte bulbosa del termómetro */
  height: 30px; /* Altura de la parte bulbosa */
  background-color: #f44336; /* Color del bulbo */
  border-radius: 50%; /* Bordes redondeados */
  position: absolute;
  bottom: -15px; /* Posicionamos el bulbo por debajo del termómetro */
  left: 50%;
  transform: translateX(-50%);
}

.thermometer-bar {
  position: absolute;
  bottom: 0; /* Posicionamos la barra al fondo del termómetro */
  left: 0;
  width: 100%; /* Barra ocupa todo el ancho del termómetro */
  background-color: #f44336; /* Color de la barra */
  transition: height 0.5s ease; /* Suavizamos la animación del cambio de altura */
}
