.humidity-device {
  border: 1px solid #4caf50;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #e8f5e9;
  text-align: center; /* Centrar el contenido */
}

.water-circle {
  width: 100px;
  height: 100px;
  position: relative;
}

svg {
  width: 100%;
  height: 100%;
}

.circle-bg {
  fill: #e0e0e0; /* Fondo del círculo */
}

.circle-water {
  fill: #4caf50; /* Color del agua */
  transform-origin: center;
  transition: transform 0.5s ease;
}
