<div class="luminosity-dashboard">
  <h2>Luminosidad Actual</h2>

  <!-- Mostrar los datos de la luminosidad -->
  <div class="luminosity-container">
    <div class="luminosity-value">{{ luminosityData?.luminosity }}%</div>

  </div>



 

  <!-- Mostrar la fecha y hora de la última actualización -->
  <div *ngIf="luminosityData">
    <p>Última actualización: {{ luminosityData.timestamp | date: 'short' }}</p>
  </div>

  <!-- Mostrar mensaje de carga si no hay datos -->
  <div *ngIf="!luminosityData">
    <p>Cargando datos de luminosidad...</p>
  </div>
</div>
