.luminosity-device {
  border: 1px solid #ffc107;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #fff8e1;
  text-align: center; /* Centramos el contenido */
}

.light-bulb {
  position: relative;
  width: 50px; /* Tamaño del foco */
  height: 70px; /* Altura del foco */
  background-color: #ffc107; /* Color del foco */
  border-radius: 50px 50px 10px 10px; /* Forma del foco */
  margin: 10px auto; /* Centramos el foco horizontalmente */
  box-shadow: 0 0 10px rgba(255, 193, 7, 0.8); /* Sombra del foco */
  transition: opacity 0.5s ease; /* Suavizamos la transición */
}

/* Parte inferior del foco */
.light-bulb::before {
  content: '';
  position: absolute;
  bottom: -10px; /* Para colocar la base del foco un poco abajo */
  left: 50%;
  transform: translateX(-50%);
  width: 20px; /* Ancho de la base del foco */
  height: 10px; /* Altura de la base del foco */
  background-color: #ccc; /* Color de la base */
  border-radius: 5px; /* Bordes redondeados de la base */
}
