.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff; /* Color de fondo */
  padding: 10px 20px; /* Espaciado */
  color: white; /* Color del texto */
}

.navbar-left,
.navbar-right {
  display: flex;
  align-items: center; /* Centra los elementos verticalmente */
}

.navbar-button {
  background: transparent; /* Sin fondo para que se vea el color de la barra */
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  padding: 10px 15px; /* Espaciado del botón */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  margin-right: 10px; /* Espaciado entre los botones */
  transition: background-color 0.3s ease; /* Transición suave */
}

.navbar-button:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Color de fondo al pasar el mouse */
}

.logout-button {
  background-color: rgb(72, 136, 255); /* Color de fondo del botón de logout */
  border: none; /* Sin borde */
  color: white; /* Color del texto */
  padding: 10px 15px; /* Espaciado del botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave */
}

.logout-button:hover {
  background-color: rgb(0, 19, 126); /* Color de fondo al pasar el mouse */
}
